/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2015, 10:18:05 AM
    Author     : ksimmons
*/
.ui-growl{
        position: fixed !important;
        top: 45% !important;
        left:40% !important;
        width: 400px !important;
}
.ui-growl-item-container{
    color: #FFF !important;
    text-shadow: none !important;
    background: #848484 !important;
}
.ui-growl-message{
    width: 300px !important;
}
#page-container {
    position: static;
    font-family: Verdana, Geneva, sans-serif;
}
header {
    position: static;
    background-color: #2A3139;  /* Standard syntax */
    background-image: linear-gradient(to right, black, gray);
    color:white;
    text-align:center;
    padding:5px;
    height: 94px;
}
.container{
    display: table;
    height: 1050px;
}
#nav {
    display: table-cell;
    position: relative;
    background-color: #EFEFEF;
    width:200px;
    vertical-align: top;
    line-height: 28px;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
}
#nav li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
#nav li a:hover {
    background-color: #CD3737 !important;
    color: white !important;
    border-radius: 0px 0px 0px 15px !important;
}
#line {
    display: table-cell;
    position: relative;
    width:1px;
    background-color: #848484;
}
#main-content {
    display: table-cell;
    vertical-align: top;
    padding: 10px;
}
footer {
    background-color:#2A3139;
    background-image: linear-gradient(to right, black, gray);
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
fieldset {
        position: absolute;
        float: left;
	box-shadow: 3px 3px 3px #E0E0E0;
	border-radius: 3px;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}
legend {
	font-size: larger;
}
.uptime-textbox{
    margin-top: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
}
.uptime-label{
    margin-top: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.logout-container{
    padding-top: 10px;
    padding-right: 10px;
}
.login-text-box{
    width: 98%;
    border: 1px solid #ccc;
    height: 30px;
    margin-bottom: 15px;
    color: #555;
    font-size: 17px;
    padding-left: 5px;
}
.login-button{
    background-color: #dd4b39;
    border-color: #d73925;
    width: 90px;
    height: 35px;
    color: #fff;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 230px;
}
.login-button:hover{
    background-color: #CD3737;
}
.login-session-text {
	color: #ffffff;
	text-align: center;
}
.uptime-name-text {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #ffffff;
	text-align: center;
}
.login-header-text {
	position: relative;
	top: 2px;
	color: #ffffff;
}
.login-page {
	background: transparent !important;
}
.login-logo {
	margin-bottom: 0px;
	padding-bottom: 15px;
	padding-top: 5px;
	background: rgba(0,0,0,.5);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
        font-size: 35px;
        text-align: center;
        font-weight: 300;
}
.login-box-body {
	background: rgba(0,0,0,.6);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
        padding: 20px;
        border-top: 0;
        color: #666;
}
.uptime-header {
	margin-left: -10px;
	max-height: 48px;
	width: auto;
        vertical-align: middle;
}
.submit-button{
    background-color: #324ab2 !important;
    border-color: #d73925 !important;
    color: #fff !important;
    border-radius: 4px !important;
}
.submit-button:hover{
    background-color: #CD3737 !important;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
    opacity: .75 !important;
}
.table-with-border{
    border-style: solid;
    border: 1px solid #000;
    border-width: 1px;
    border-bottom: 1px; 
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: black;
}

.to_add {
    background: lightgreen  !important ;
}

.included {
    background: yellow  !important ;
}