<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../resources/template/temp_Default.xhtml">

            <ui:define name="head">
                <meta http-equiv="refresh" content="60"/>
                <title>SDT Home</title>
                <style>
                    /*Need to check*/
                    .ui-panelgrid .ui-panelgrid-cell{
                        padding: 0px;
                    }
                    .ui-datatable {
                        text-align: center;
                    }
                    div.renderPanel {
                        border: none;
                        padding: 0px;
                    }
                    .subscription-link {
                        display: block;
                        padding: 0px;
                        margin-left: auto;
                        margin-right: auto;
                        height: 18px;
                        width: 18px;
                        background-color: white;
                        text-decoration: none;
                        border-style: solid;
                        border-width: 1px;
                        border-radius:2px;
                    }
                    .subscription-link:focus {
                        border: 1px solid lightskyblue;
                    }
                    .activity-link {
                        display: block;
                        padding: 0px;
                        margin-left: auto;
                        margin-right: auto;
                        height: 18px;
                        width: 18px;
                        text-decoration: none;
                        font-weight: bold;
                        border: 1px solid #666666;
                        border-radius: 10px;
                    }
                    .activity-link:hover {
                        border: 1px solid lightskyblue;
                    }
                    .activity-link:focus {
                        border: 1px solid yellow;
                    }
                    .x-link {
                        display: block;
                        padding: 0px;
                        margin-left: auto;
                        margin-right: auto;
                        height: 18px;
                        width: 18px;
                        line-height: 14px;
                        text-decoration: none;
                        font-weight: bold;
                        border: 1px solid #666666;
                        border-radius: 10px;
                    }
                    .x-link:hover {
                        border: 1px solid lightskyblue;
                        color: lightskyblue;
                    }
                    .x-link:focus {
                        border: 1px solid yellow;
                        color: yellow;
                    }
                    .confirm-link {
                        display: block;
                        padding: 0px;
                        margin-left: auto;
                        margin-right: auto;
                        width: 90px;
                        height: 35px;
                        line-height: 35px;
                        background-color: #dd4b39;
                        border: 1px solid #d73925;
                        border-radius: 4px;
                        text-decoration: none;
                        text-align: center;
                        color: white;
                    }
                    .confirm-link:hover{
                        background-color: #CD3737;
                    }
                    .mainTable {
                        width: 910px;
                        margin-top: 0px;
                    }
                    .registrarTable {
                        padding: 0px;
                        width: 600px;
                        margin-bottom: 10px;
                        margin-top: 0px;
                    }
                    .register-grid {
                        position: absolute;
                        top: 16px;
                        right: 16px;
                    }
                    .register-input{
                        width: 110px;
                        height: 18px;
                        text-align: center;
                    }
                    .register-link {
                        display: block;
                        padding: 0px;
                        margin-left: auto;
                        margin-right: auto;
                        height: 30px;
                        line-height: 30px;
                        background-color: #dd4b39;
                        border: 1px solid #d73925;
                        text-decoration: none;
                        text-align: center;
                        color: white;
                    }
                    .register-link:hover{
                        background-color: #CD3737;
                    }
                    .dashboard-header {
                        display: block;
                        padding-bottom: 5px;
                        padding-top: 2px;
                        background-color: #c5b358;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        color: white;
                    }
                    .ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
                        text-align: center;
                        padding: 0px;
                    }
                </style>
            </ui:define>

            <ui:define name="header">
                Service Dashboard
            </ui:define>

            <ui:define name="nav">
                <h:form id="logoutForm">
                    <ul>
                        <li><p:commandLink action="#{logoutBean.logout()}" value="Logout"/></li>
                    </ul>
                </h:form>
            </ui:define>

            <ui:define name="content">
                <p:growl id="growl" for="growlMessages"/>
                
                <!--Confirm Shutdown Dialog Box-->
                <p:dialog id="confirmId" header="Confirm Shutdown" widgetVar="confirmDlg" modal="true">
                    <h:form>
                        <p:panelGrid>
                            <p:row>
                                <p:column style="padding-bottom:30px" colspan="2">
                                    <p:outputLabel styleClass="uptime-label" value="Are you sure you want to shutdown this host?"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:commandLink value="Confirm" type="button" styleClass="confirm-link" action="#{indexBean.shutdownHost()}" update=":registrarFormId :mainFormId :growl" oncomplete="PF('confirmDlg').hide()"/>
                                </p:column>
                                <p:column>
                                    <p:commandLink value="Cancel" type="button" styleClass="confirm-link" action="#{indexBean.cancelShutdown()}" oncomplete="PF('confirmDlg').hide()"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>  
                
                <!--Confirm Register Dialog Box-->
                <p:dialog id="registerHostId" header="Register Host" widgetVar="registerHostDlg" modal="true">
                    <h:form>
                        <p:panelGrid>
                            <p:row>
                                <p:column style="padding-bottom:30px" colspan="2">
                                    <p:panelGrid>
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel styleClass="uptime-label" value="Name:"/>
                                            </p:column>
                                            <p:column>
                                                <p:outputLabel styleClass="uptime-label" value="#{indexBean.svoToBeRegistered.name}"/>
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel styleClass="uptime-label" value="Ip Address:"/>
                                            </p:column>
                                            <p:column>
                                                <p:outputLabel styleClass="uptime-label" value="#{indexBean.svoToBeRegistered.ipAddress}"/>
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel styleClass="uptime-label" value="Port:"/>
                                            </p:column>
                                            <p:column>
                                                <p:outputLabel styleClass="uptime-label" value="#{indexBean.svoToBeRegistered.port}"/>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:commandLink value="Confirm" type="button" styleClass="confirm-link" action="#{indexBean.registerHost()}" update=":mainFormId :registerFormId :growl" oncomplete="PF('registerHostDlg').hide()"/>
                                </p:column>
                                <p:column>
                                    <p:commandLink value="Cancel" type="button" styleClass="confirm-link" action="#{indexBean.cancelRegister()}" update=":registerFormId" oncomplete="PF('registerHostDlg').hide()"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
                
                <!--Activity Dialog Box-->
                <p:dialog id="activityId" header="Host Activity" widgetVar="activityDlg" modal="true" height="100">
                    <p:panelGrid>
                        <p:row>
                            <p:column>
                                <p:outputLabel styleClass="uptime-label" value="Current Requests:"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel styleClass="uptime-label" value="#{indexBean.activity.currentRequests}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel styleClass="uptime-label" value="Free Memory:"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel styleClass="uptime-label" value="#{indexBean.activity.freeMemory}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel styleClass="uptime-label" value="Total Memory:"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel styleClass="uptime-label" value="#{indexBean.activity.totalMemory}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel styleClass="uptime-label" value="Threads:"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel styleClass="uptime-label" value="#{indexBean.activity.threads}"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:dialog>
                
                <!--Subscription Dialog Box-->
                <p:dialog id="subscriptionsId" header="Subscriptions" widgetVar="subscriptionsDlg" modal="true" height="300" width="900">
                    <h:form>
                        <p:dataTable var="subscription" value="#{indexBean.subscriptions}" rendered="#{indexBean.subscriptions.size() > 0}">
                            <p:column headerText="Remove" width="75">
                                <p:commandLink value="x" type="button" styleClass="x-link" action="#{indexBean.unsubscribe(subscription)}" update=":subscriptionsId :mainFormId :growl"/>
                            </p:column>
                            <p:column headerText="Source" width="200">
                                <p:outputLabel value="#{subscription.source}"/>
                            </p:column>
                            <p:column headerText="Ip Address" width="150">
                                <p:outputLabel value="#{subscription.ipAddress}"/>
                            </p:column>
                            <p:column headerText="Port" width="50">
                                <p:outputLabel value="#{subscription.port}"/>
                            </p:column>
                            <p:column headerText="Url">
                                <p:outputLabel value="#{subscription.url}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>
                
                <!--Host Register Input-->
                <h:form id="registerFormId">
                    <p:panelGrid styleClass="register-grid">
                        <p:row>
                            <p:column>
                                <p:inputText autocomplete="false" id="ipAddressTestInputId" placeholder="Ip Address" styleClass="uptime-textbox register-input" value="#{indexBean.registerIp}" required="true">
                                    <f:validateRegex pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"/>
                                </p:inputText>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:inputText autocomplete="false" id="portTestInputId" placeholder="Port" styleClass="uptime-textbox register-input" value="#{indexBean.registerPort}" required="true">
                                    <f:validateLongRange minimum="1" maximum="65535"/>
                                </p:inputText>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:commandLink ajax="false" validateClient="true" value="Register Host" type="button" styleClass="register-link" action="#{indexBean.getServiceInfo()}" update=":registerHostId :growl"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </h:form>
                
                <!--Service Registrar Dashboard Table-->
                <h:form id="registrarFormId">
                    <p:dataTable styleClass="registrarTable" var="srvo" value="#{indexBean.serviceRegistrarList}" rendered="#{indexBean.serviceRegistrarList.size() > 0}" >
                        <f:facet name="header">
                            <p:outputLabel styleClass="dashboard-header" value="Service Registrars"/>
                        </f:facet>
                        <p:column id="ActiveColumnId" headerText="Active" width="50">
                            <p:commandLink styleClass="activity-link" style="#{indexBean.statusColor(srvo.badConnection)}" value="" update=":activityId @this" action="#{indexBean.setActivity(srvo.url)}" oncomplete="PF('activityDlg').show()"/>
                        </p:column>
                        <p:column headerText="Url" width="300">
                            <p:outputLabel value="#{srvo.url}"/>
                        </p:column>
                        <p:column headerText="Commands" width="110">
                            <p:selectOneMenu style="width:100px;" value="#{srvo.command}">
                                <f:selectItem itemLabel="" itemValue=""/>
                                <f:selectItem itemLabel="Shutdown" itemValue="shutdown"/>
                                <p:ajax event="itemSelect" listener="#{indexBean.checkCommand(srvo)}" update=":registrarFormId :mainFormId :confirmId :growl"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:dataTable> 
                </h:form>
                
                <!--Main Dashboard Table-->
                <h:form id="mainFormId">
                    <p:dataList value="#{indexBean.serviceRegistrarList}" var="registrar" rendered="#{indexBean.serviceRegistrarList.size() > 0}" type="none">
                        <p:dataTable styleClass="mainTable" var="svo" value="#{registrar.svoList}" rendered="#{registrar.svoList.size() > 0}" >
                            <f:facet name="header">
                                <p:outputLabel styleClass="dashboard-header" value="#{registrar.url}"/>
                            </f:facet>
                            <p:column id="ActiveColumnId" headerText="Active" width="50">
                                <p:commandLink styleClass="activity-link" style="#{indexBean.statusColor(svo.circuitBreaker)}" value="#{svo.connection}" update=":activityId @this" action="#{indexBean.setActivity(svo.ipAddress, svo.port)}" oncomplete="PF('activityDlg').show()"/>
                            </p:column>
                            <p:column headerText="Name" width="200">
                                <p:outputLabel value="#{svo.name}"/>
                            </p:column>
                            <p:column headerText="Ip Address" width="150">
                                <p:outputLabel value="#{svo.ipAddress}"/>
                            </p:column>
                            <p:column headerText="Port" width="50">
                                <p:outputLabel value="#{svo.port}"/>
                            </p:column>
                            <p:column headerText="Subscriptions" width="110">
                                <p:commandLink disabled="#{svo.subscriptions.size() == 0}" styleClass="subscription-link" value="^" title="List" update=":subscriptionsId" action="#{indexBean.setSubscriptionsAndCurrentService(svo.subscriptions, svo.name)}" oncomplete="PF('subscriptionsDlg').show()"/>
                            </p:column>
                            <p:column headerText="Commands" width="110">
                                <p:selectOneMenu style="width:100px;" value="#{svo.command}">
                                    <f:selectItem itemLabel="" itemValue=""/>
                                    <f:selectItem itemLabel="Unregister" itemValue="unregister"/>
                                    <f:selectItem itemLabel="Subscribe" itemValue="subscribe"/>
                                    <f:selectItem itemLabel="Unsubscribe" itemValue="unsubscribe"/>
                                    <f:selectItem itemLabel="Shutdown" itemValue="shutdown"/>
                                    <p:ajax event="itemSelect" listener="#{indexBean.checkCommand(svo)}" update=":registrarFormId :mainFormId :confirmId :growl"/>
                                </p:selectOneMenu>
                            </p:column>
                        </p:dataTable> 
                    </p:dataList>
                </h:form>
            </ui:define>

            <ui:define name="footer">
            </ui:define>

        </ui:composition>

    </body>
</html>
