<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="uptime.css"/>
        <style>
            body {
                background-image: url('resources/image/wallpaper1.jpg');
            }
            div.center-Login{
                width: 360px;
                margin: 7% auto;
            }
            input.simplify{
                height: 25px;
                line-height: 25px;
                margin-bottom: 15px;
                border: 1px #ccc solid;
                border-radius: 0px;
                box-shadow: none;
                -webkit-box-shadow: none;
            }
            input.simplify:focus{
                box-shadow: none;
                -webkit-box-shadow: none;
            }
            input.align-center{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        <ui:insert name="head"/>
    </h:head>

    <h:body>
        <div class="login-Page">
            <div class="center-Login">
                <div class="login-logo">
                    <h:graphicImage styleClass="uptime-header" library="image" name="uptime-web-hdr-logo-light-150h-4.png" />
                    <span class="login-header-text">
                        <b>
                            <ui:insert name="header">Header</ui:insert>
                        </b>
                    </span>
                </div>
                <div class="login-box-body">
                    <ui:insert name="content">Content</ui:insert>
                </div>
            </div>
        </div>
    </h:body>

</html>
