<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="uptime.css"/>
        <ui:insert name="head"/>
        <style>
            table{
                border-collapse: collapse;
            }
            thead tr th{
                border-bottom: 2px solid #DE3F3F;
                font-size: 18px;
                padding-bottom: 5px;
                text-align: left;
            }
            tbody tr td{
                padding: 7px;
                font-size: 15px;
                font-family: Verdana, Geneva, sans-serif;
                vertical-align: top;
            }
            .container{
                height: 1050px;
            }
            .ui-widget-header{
                background: #ffffff;
                border-bottom: 2px solid #DE3F3F;
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                text-align: left;
                font-size: 25px;
                font-weight: 500;
                font-family: Verdana, Geneva, sans-serif;
            }
            .ui-panelgrid .ui-panelgrid-cell{
                border-width: 0px;
            }
            .ui-widget-content{
                border-width: 0px;
            }
            .ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
                box-shadow: none;
                -webkit-box-shadow: none;
            }
            .ui-button{
                text-align: left;
                margin-right: 0px;
            }
            .ui-corner-all{
                -webkit-border-radius: 0px;
                border-radius: 0px;
            }
            .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
                text-shadow: none;
                font-weight: normal;
                box-shadow: none;
                background: none;
            }
            .ui-widget{
                font-family: Verdana, Geneva, sans-serif;
                font-size: inherit;
            }
            .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
                background: none;
            }
            .ui-shadow{
                -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
                box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
            }
            /*Need to check*/
            .header_Image{
                float: left;
                width: 149px;
                height: 94px;
            }
        </style>
    </h:head>
    
    <h:body id="page-container">
        <header>
            <h:graphicImage styleClass="header_Image" library="image" name="uptime-web-hdr-logo-light-150h-4.png" />
            <h1>
                <ui:insert name="header">Header</ui:insert>
            </h1>
        </header>

        <div id="nav" class="container">
            <ui:insert name="nav">Navigation Bar</ui:insert>
        </div>

        <div id="main-content" class="container">
            <ui:insert name="content">Content</ui:insert>
        </div>

        <footer>
            <ui:insert name="footer">Footer</ui:insert>
        </footer>
    </h:body>

</html>
