<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="abn.css"/>
        <ui:insert name="head"/>
    </h:head>

    <h:body id="page-container">

        <header>
            <h:graphicImage styleClass="header_Image" library="image" name="ABN_web_logo1.png" />
            <h1>
                <ui:insert name="header">Header</ui:insert>
            </h1>
        </header>

        <div class="container">
            <ui:insert name="content">Content</ui:insert>
        </div>

    </h:body>

</html>
