<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <body>

        <ui:composition template="./resources/template/temp_Blank.xhtml">

            <ui:define name="head">
                <title>403 Error</title>
            </ui:define>

            <ui:define name="header">
                SDT
            </ui:define>

            <ui:define name="content">
                You are not authorized to access this page.
            </ui:define>

        </ui:composition>

    </body>
</html>
