<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

     <body>

        <ui:composition template="./resources/template/temp_Login.xhtml">

            <ui:define name="head">
                <title>SDT Login Failed</title>
            </ui:define>
            
            <ui:define name="header">
                SDT
            </ui:define>

            <ui:define name="content">
                <p class="app-name-text">Service Dashboard Tool</p>
                <p class="login-session-text">Login Failed</p>
                <h:button styleClass="login-button align-center" outcome="login" value="Retry"/>
            </ui:define>

        </ui:composition>

    </body>
</html>
