<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./resources/template/temp_Login.xhtml">

            <ui:define name="head">
                <title>SDT Login</title>
            </ui:define>
            
            <ui:define name="header">
                SDT
            </ui:define>
            
            <ui:define name="content">
                <p class="app-name-text">Service Dashboard</p>
                <p class="login-session-text">Sign in to start your session</p>
                <h:form onsubmit="action='j_security_check';" prependId="false">
                    <div>
                        <input type="text" name="j_username" placeholder="Username" class="login-text-box" readonly="readonly" onfocus="this.removeAttribute('readonly');" styleClass="login-text-box simplify"/>
                    </div>
                    <div>
                        <input type="password" name="j_password" placeholder="Password" class="login-text-box" autocomplete="off" readonly="readonly" onfocus="this.removeAttribute('readonly');" styleClass="login-text-box simplify"/>
                    </div>
                    <div>
                        <h:commandButton styleClass="login-button" value="Sign In"/>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
